---
- name: Ensure apt keyrings directory exists
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Download Docker GPG key
  become: true
  ansible.builtin.get_url:
    url: "{{ docker_gpg_key_url }}"
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

- name: Add Docker repository with deb822_repository
  become: true
  ansible.builtin.deb822_repository:
    name: "docker"
    types: deb
    uris: "{{ docker_repo_url }}/{{ ansible_distribution | lower }}"
    suites: "{{ ansible_distribution_release }}"
    components: "{{ docker_release_channel }}"
    signed_by: /etc/apt/keyrings/docker.asc
    architectures: "{{ docker_arch }}"

- name: Update apt
  become: true
  ansible.builtin.apt:
    force_apt_get: true
    update_cache: true
    cache_valid_time: 3600

- name: Install docker
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
  loop: "{{ docker_packages }}"

- name: Adding User To Group Docker
  become: true
  ansible.builtin.user:
    name: "{{ lookup('env', 'USER') }}"
    groups: docker
    append: true
